$black: #161b22;
$main-color: #0079bf;

$text-primary-dark: #212429;
$text-secondary-dark: #ffffff75;
$text-primary-light: #c9d1d9;

$bg-primary-dark: #212429;
$bg-primary-light: #3c4047;
$bg-secondary-dark: #0d1117;
$success: #238636;
$fail: #f85149;

//#238636

$card-bg-dark: #ffdead;
$active-link: orange;

$group-1: #81c784;
$group-2: #fff176;
$group-3: rgb(233, 179, 80);
$group-4: pink;
$group-5: #2299eb;
$group-6: rgb(141, 87, 196);
