$black: #161b22;
$main-color: #0079bf;

$text-primary-dark: #212429;
$text-secondary-dark: #ffffff75;
$text-primary-light: #c9d1d9;

$bg-primary-dark: #212429;
$bg-primary-light: #3c4047;
$bg-secondary-dark: #0d1117;
$success: #238636;
$fail: #f85149;
