@import '/src/index.scss';

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
}
.text_box {
  padding: 0px 10px;
  margin: 0px;
  font-weight: 400;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  width: 100%;
  &:hover {
    background-color: $bg-primary-light;
    color: $text-primary-light;
  }
}
.title {
  @extend .text_box;
  font-size: 18px;
  line-height: 39px;
}

.description {
  @extend .text_box;
  font-size: 16px;
  line-height: 28px;
  height: 85px;
  background-color: $bg-primary-light;
}
.deadline {
  @extend .text_box;
  font-size: 16px;
  line-height: 34px;
  display: flex;
  height: 50px;
  column-gap: 10px;
}
.date_wrapper {
  width: 100%;
  height: 50px;
}
.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
}
.button {
  box-sizing: border-box;
  width: 120px;
  border-radius: 6px;
  height: 100%;
  background-color: $main-color;
  border: 1px solid $text-secondary-dark;
  color: $text-primary-light;
  cursor: pointer;
  overflow: hidden;
  font-size: 16px;
  line-height: 20px;
  padding: 5px 0px;
  margin-top: 20px;
  transition: all 0.3s ease 0s;
  outline: none;
  &:hover {
    border-color: $main-color;
    color: $text-primary-light;
  }
  &:disabled {
    opacity: 0.5;
    cursor: default;
  }
}

.image_link {
  display: block;
  background-size: cover;
  background-position: center;
  border: 2px solid #b8c5e2;
  border-radius: 8px;
  transition: 0.2s border-color;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 256px;
  height: 114px;
  overflow: hidden;
  color: $text-primary-light;
}
